<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <style>
        *{
            margin: 5px;
        }
        input{
            border: 2px solid black;
            border-radius: 5px;
            padding: 5px;
        }
        button{
            border: 2px solid gray;
            border-radius: 5px;
            padding: 5px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <form action="/api/user" method="post">
        <div>
            <input type="number" name="id" placeholder="Enter your ID">
        </div>
        <div>
            <input type="text" name="name" placeholder="Enter your Name">
        </div>
        <button type="submit">Add User</button>
    </form>
</body>
</html>