<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle Page</title>
</head>
<body>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/api/calculator/circle">Circle CalCulator</a></li>
    </ul>
    <h1>Triangle Calcualtor Page</h1>
    <form action="/api/calculator/triangle" method="post">
        <div>
            <label for="height">Height:</label>
            <input type="number" name="height">
        </div>
        <div>
            <label for="base">Base:</label>
            <input type="number" name="base">
        </div>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>